In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pf = pd.read_csv("employee_retension.csv")
pf

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [3]:
dummie = pd.get_dummies(pf['salary'])

In [4]:
merge = pd.concat( [ pf , dummie] , axis= 'columns')

In [5]:
x = pf.drop(['left' ,'salary' ,'dept'],axis = 'columns')

In [62]:
from sklearn.model_selection import train_test_split
xtrain , xtest , ytrain , ytest = train_test_split( x, pf.left , test_size = 0.5)

In [63]:
len(xtrain)

7499

In [64]:
len(xtest)

7500

In [65]:
from  sklearn.tree import DecisionTreeClassifier
model3 = DecisionTreeClassifier()

In [66]:
model3.fit(xtrain , ytrain)

DecisionTreeClassifier()

In [67]:
model3.score(xtest , ytest)

0.9734666666666667